server:
  port: 8088

spring:
  application:
    name: gateway-server

  config:
    import: "optional:configserver:${CONFIG_SERVER:http://localhost:8888}"

  profiles:
    active: "dev"

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
